<!DOCTYPE html>
<html>

<head>
  <title>Palindromes</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <style>
    #my_table{
        width: 100%;
    }
    .container{
      margin-top: 50px;
      margin-bottom: 50px;
    }
    .error{
      color: red;
      font-size: 30px;
    }
  </style>
</head>

<body>
<div class="container">
    <h1>Palindromes</h1>
    <p>     Определить количество неотрицательных целых чисел ≤ n (n
            вводится с клавиатуры), квадрат которых является палиндромом. Например:
            26^2 = 676.
    </p>

    <div>
        <%= form_tag "#", id: 'palindrome_form', :method => "get", remote: true do %> 

            <%= label_tag :n, "Input n: " %> 
            <%= text_field_tag :n, '', id: 'input_number', required: true %> <br/><br/>        <%#(:n, default_value)%>

            <%= button_tag "Найти палиндромы", type: 'submit', name: nil, id: 'btn_commit', class: 'btn btn-primary' %>
        <% end %>
    </div><br/>
    <div id="error_output" style="display:none" class="text-danger"></div>
    <div id="input_output" style="display:none"></div>
    <div id="answer_output" style="display:none"></div><br/>
    <div id="my_table">
        <table id="table_result" style="display:none" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Число</th>
                    <th scope="col">Квадрат числа</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>
