<h1>Result:</h1>

<% if @error %>
<p class = "text-danger"><%= @error %></p>
<% else %>
<div>You entered: <%= @input %></div>
<div>Answer: <%= @result %></div><br/>
    <table class="table table-striped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Number</th>
            <th scope="col">Square</th>
        </tr>
        <% @numbers&.each_with_index do |numbers, i| %>
        <tr>
            <td scope="row"><%= i+1 %></td>
            <td scope="row"><%= numbers %></td>
            <td scope="row"><%= numbers * numbers %></td>
        </tr>
        <% end %>
    </table><br/>
<% end %>
<button type="button" class="btn btn-link">
    <%= link_to "Repeat calculation", root_path %>
</button>
