<!DOCTYPE html>
<html>
  <head>
    <title>Lab9App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      .container{
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .error{
        color: red;
        font-size: 30px;
      }
    </style>

  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
